b

header 
.nav-links {
  
  display: flex;
  justify-content: space-around;
  background-color: #f8f7f7;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: underline;
  
}
h1 {
  text-align: center;
  color: #333333;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #000000;
  color: #ffffff;
}
footer
{
  text-align: center;
  padding: 10px;
  background-color: #ff0000;
  margin-top: 20px;
}

